.project
.pydevproject*
.Python
.DS_Store
.idea
.installed.cfg
.mr.developer*
.settings
.coverage
bin
include
lib
dist
eggs
develop-eggs
parts
src
*.pyc
*.pt.py
Data.fs*
.tmp*
*.egg-info
*.css.map
local
.sass-cache

